@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: "Roboto", sans-serif;
    cursor: pointer;
    text-align: center;
      
}
.mouse-main{
    width: 1200px;
}
.mouse-main h1{
    font-size: 48px;
    color: #fff;
    line-height: 40px;
}
.mouse-main p{
    font-size: 18px;
    color: #fff;
    line-height: 28px;
}
.mouse{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #ffff00;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(
        -50%,-50%
    );
}
.mouse2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #ffff00;
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}
.mouse-main:hover ~ .mouse{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #ffff00;
    opacity: .5;
}
.mouse-main:hover ~ .mouse2{
    opacity: 0;
}